.attribution {
	font-size: clamp(1.1rem, -0.875rem + 2.333vw, 1.6rem);
	margin-top: 3em;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
	text-decoration: none;
	transition: color 0.3s;

	&:hover {
		color: hsl(281, 87%, 35%);
	}
}
